{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "core-js@3",
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@common": "./src/common",
          "@components": "./src/components",
          "@helpers": "./src/helpers",
          "@utils": "./src/utils"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": [
          "GG_EDITOR_VERSION"
        ]
      }
    ]
  ]
}
