.context-menu {
  display: none;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  overflow: hidden;

  .item {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    transition: all .3s;

    &:hover {
      background: #E6F7FF;
    }

    i {
      margin-right: 8px;
    }
  }
  
  :global {
    .disable {
      :local {
        .item {
          cursor: auto;
          color: rgba(0, 0, 0, 0.25);
    
          &:hover {
            background: #FFFFFF;
          }
        }
      }
    }
  }
}
